In [1]:
# Cuál es el género de películas con mayor duración promedio

In [1]:
import pandas as pd

In [2]:
film = pd.read_csv('./data/film.csv')
fc = pd.read_csv('./data/film_category.csv')
category = pd.read_csv('./data/category.csv')

In [3]:
final_df = pd.merge(film,pd.merge(fc, category,on='category_id'),on='film_id')

In [5]:
final_df.groupby('name').mean().sort_values('length', ascending = False)['length']

name
Sports         128.202703
Games          127.836066
Foreign        121.698630
Drama          120.838710
Comedy         115.827586
Family         114.782609
Music          113.647059
Travel         113.315789
Horror         112.482143
Classics       111.666667
Action         111.609375
New            111.126984
Animation      111.015152
Children       109.800000
Documentary    108.750000
Sci-Fi         108.196721
Name: length, dtype: float64

In [6]:
# Cuál es el género de películas que más se renta
rental = pd.read_csv('./data/rental.csv')
inventory = pd.read_csv('./data/inventory.csv')
final_df2 = pd.merge(final_df,pd.merge(inventory, rental, on='inventory_id'),on='film_id')

In [9]:
final_df2.groupby('name').count()['film_id']

name
Action         1112
Animation      1166
Children        945
Classics        939
Comedy          941
Documentary    1050
Drama          1060
Family         1096
Foreign        1033
Games           969
Horror          846
Music           830
New             940
Sci-Fi         1101
Sports         1179
Travel          837
Name: film_id, dtype: int64

In [10]:
# Cuáles son los 5 actores que han aparecido en más películas
fa = pd.read_csv('./data/film_actor.csv')
actor = pd.read_csv('./data/actor.csv')

In [12]:
final_df3 = pd.merge(film, pd.merge(fa, actor, on='actor_id'),on='film_id')
final_df3['fullname'] = final_df3['first_name'] + " " + final_df3['last_name']

In [15]:
final_df3.groupby('fullname').count()['film_id'].sort_values(ascending=False).head(5)

fullname
SUSAN DAVIS       54
GINA DEGENERES    42
WALTER TORN       41
MARY KEITEL       40
MATTHEW CARREY    39
Name: film_id, dtype: int64

In [16]:
# Cuántas rentas tuvo cada empleado?
staff = pd.read_csv('./data/staff.csv')

In [26]:
final_df4 = pd.merge(staff, rental, on='staff_id')

In [20]:
final_df4.groupby('staff_id').count()

,first_name,last_name,address_id,picture,email,store_id,active,username,password,last_update_x,rental_id,rental_date,inventory_id,customer_id,return_date,last_update_y
staff_id,,,,,,,,,,,,,,,,
1,8040,8040,8040,8040,8040,8040,8040,8040,8040,8040,8040,8040,8040,8040,7955,8040
2,8004,8004,8004,0,8004,8004,8004,8004,8004,8004,8004,8004,8004,8004,7906,8004

In [27]:
final_df4['rental_date'] =final_df4['rental_date'].apply(lambda x: x[:10])

In [31]:
# Cuál es el número promedio de rentas diario para el empleado 2
counts = final_df4.groupby(['staff_id','rental_date']).count()

In [36]:
counts[counts['staff_id']==2].mean()

/var/folders/z5/j7jtc0rn7311w2p0lghfl0gc0000gn/T/ipykernel_56389/754966471.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  counts[counts['staff_id']==2].mean()

staff_id           2.000000
first_name       195.219512
last_name        195.219512
address_id       195.219512
picture            0.000000
email            195.219512
store_id         195.219512
active           195.219512
username         195.219512
password         195.219512
last_update_x    195.219512
rental_id        195.219512
inventory_id     195.219512
customer_id      195.219512
return_date      192.829268
last_update_y    195.219512
dtype: float64

In [35]:
counts = counts.reset_index(drop=False)