In [1]:
# Importa Pandas
import pandas as pd

In [2]:
# Lee el CSV que est√° en la carpeta "data"
df = pd.read_csv('./data/train.csv')

In [3]:
# Valida que los tipos de datos sean los correctos
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [4]:
# Revisa si hay columnas fuertemente correlacionadas
df.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [5]:
# Extrae el conjunto de casos que tienen la edad faltante
# Tip: busca el m√©todo isna()
no_age = df[df['Age'].isna()]
no_age.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q

In [6]:
# Revisa los estad√≠sticos descriptivos para ese grupo de datos
no_age.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,177.000000,177.000000,177.000000,0.0,177.000000,177.000000,177.000000
mean,435.581921,0.293785,2.598870,NaN,0.564972,0.180791,22.158567
std,250.552901,0.456787,0.763216,NaN,1.626316,0.534145,31.874608
min,6.000000,0.000000,1.000000,NaN,0.000000,0.000000,0.000000
25%,230.000000,0.000000,3.000000,NaN,0.000000,0.000000,7.750000
50%,452.000000,0.000000,3.000000,NaN,0.000000,0.000000,8.050000
75%,634.000000,1.000000,3.000000,NaN,0.000000,0.000000,24.150000
max,889.000000,1.000000,3.000000,NaN,8.000000,2.000000,227.525000

In [7]:
# Revisa tambi√©n las correlaciones, se puede inferir que tipo de datos faltantes son?
no_age.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.170245,-0.017462,NaN,-0.003893,0.045188,0.019339
Survived,-0.170245,1.000000,-0.181577,NaN,-0.079379,-0.079202,0.142224
Pclass,-0.017462,-0.181577,1.000000,NaN,0.128689,0.151028,-0.501477
Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SibSp,-0.003893,-0.079379,0.128689,NaN,1.000000,0.738580,0.331742
Parch,0.045188,-0.079202,0.151028,NaN,0.738580,1.000000,0.219872
Fare,0.019339,0.142224,-0.501477,NaN,0.331742,0.219872,1.000000

In [13]:
# Haz lo que sea necesario con los datos faltantes en el dataset original
# busca los m√©todos dropna y fillna
df[['Age']] = df[['Age']].fillna(df.median())

/var/folders/z5/j7jtc0rn7311w2p0lghfl0gc0000gn/T/ipykernel_70921/303959124.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[['Age']] = df[['Age']].fillna(df.median())

In [15]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.361582,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,13.019697,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [17]:
# Crea una columna que determine si el pasajero es menor de edad (0) o mayor(1)
df['is_adult'] = df['Age'].apply(lambda x: 1 if x>=21 else 0)

In [20]:
# Revisa la distribuci√≥n de esa nueva variable
df['is_adult'].value_counts()

1    711
0    180
Name: is_adult, dtype: int64

In [21]:
# Revisa si se correlaciona con otros
df.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,is_adult
PassengerId,1.000000,-0.005007,-0.035144,0.034212,-0.057527,-0.001652,0.012658,0.010835
Survived,-0.005007,1.000000,-0.338481,-0.064910,-0.035322,0.081629,0.257307,-0.074200
Pclass,-0.035144,-0.338481,1.000000,-0.339898,0.083081,0.018443,-0.549500,-0.158714
Age,0.034212,-0.064910,-0.339898,1.000000,-0.233296,-0.172482,0.096688,0.644438
SibSp,-0.057527,-0.035322,0.083081,-0.233296,1.000000,0.414838,0.159651,-0.232980
Parch,-0.001652,0.081629,0.018443,-0.172482,0.414838,1.000000,0.216225,-0.233564
Fare,0.012658,0.257307,-0.549500,0.096688,0.159651,0.216225,1.000000,0.025091
is_adult,0.010835,-0.074200,-0.158714,0.644438,-0.232980,-0.233564,0.025091,1.000000

In [ ]:
# De estas dos cosas, qu√© concluyes?

In [ ]:
# Hay alguna caracter√≠stica definida en los sobrevivientes? Usa describe() y value_counts y reporta las conclusiones

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,is_adult
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.0
mean,440.461111,0.455556,2.572222,12.695389,1.033333,0.755556,29.727501,0.0
std,276.925748,0.499410,0.693389,6.755239,1.448945,0.823009,41.225957,0.0
min,8.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.0
25%,183.750000,0.000000,2.000000,6.000000,0.000000,0.000000,8.462525,0.0
50%,426.500000,0.000000,3.000000,16.000000,0.000000,1.000000,16.300000,0.0
75%,694.250000,1.000000,3.000000,18.000000,1.000000,1.000000,31.275000,0.0
max,888.000000,1.000000,3.000000,20.500000,5.000000,3.000000,263.000000,0.0